.body {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 80px 100px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);

  @include tablet {
    padding: 24px 12px 16px;
    border-radius: 0px 0px 36px 36px;
    height: 75dvh;
    row-gap: 4px;
    overflow-y: auto;
  }

  &__title {
    @include tablet {
      margin-bottom: auto;
    }

    &-question {
      @include fluid-text(24, 18);
      animation: fadeInUp 0.3s ease-in-out;

      @include tablet {
        position: relative;
        top: 80px;
        left: 50%;
        translate: -50% -50%;

        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
		line-height: 110%;
      }
    }
  }

  &__options {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-auto-flow: column;
    row-gap: 28px;
    column-gap: 20px;
    width: 100%;


    @include tablet {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      padding: 20px;
      cursor: pointer;

      border-radius: var(--border-radius-sm);
      background-color: var(--color-answer);
      transition: background-color 0.2s ease;

      &:focus-within {
        background-color: var(--color-accent);
        color: var(--color-white);
      }

      &:has(input[type='radio']:checked) {
        background-color: var(--color-accent);
        color: var(--color-white);
      }

      @include tablet {
		min-height: 70px;
        border-radius: var(--border-radius-lg);
      }

      span {
        @include fluid-text(14, 14);

        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        width: 100%;
      }
    }
  }

  &__progress {
    width: 100%;
    max-width: 760px;
    height: 16px;
    background: rgba(77, 145, 248, 0.3);
    border-radius: 40px;
    margin-bottom: 20px;
    position: relative;
    line-height: normal;

    @include tablet {
      height: 12px;
      margin-bottom: 0;
    }

    &::before {
      content: '1';
      left: 0;
    }

    &::after {
      content: '8';
      right: 0;
    }

    &::after,
    &::before {
      font-size: 20px;
      position: absolute;
      bottom: 50%;
      transform: translateY(50%);
      display: flex;
      width: 40px;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--color-accent);
      color: var(--color-white);
      text-align: center;
      z-index: 10;

      @include tablet {
        font-size: 10px;
        width: 20px;
        height: 20px;
      }
    }

    &-fill {
      position: relative;
      height: 100%;
      background-color: var(--color-accent-80);
      transition: width 1s ease;
      border-radius: inherit;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
